#main {
    width: 100%;
}
.row{
    width: 100%;
    display: block;
}
.col2 {
    display: inline-block;
    width: 49%;
}
.col2_2 {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
.col2 img {
    width: 30%;
}   
#menu {
    display: block;
    width: 100%;
    margin: 0;
    padding: 40 0 0 0; 
}
#menu li {
    display: block;
    width: 92%;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu a {
    display: block;
    padding: 5%;
    margin: 0.8%;
    background: navy;
    color:rgb(177, 235, 255);
}
#menu a:hover {
    background: indigo;
    color: rgb(217, 185, 255);
}
h2 {
    margin: 0;
}
p {
    margin-top: 0;
    margin-bottom: 3%;
}
.col3 {
    display:inline-block;
    width: 32%;
}
.col3 img {
    width: 100%;
    display: block;
}   
.link {
    text-align: right;
}
.image img {
    display: block;
    width: 97.3%;
}