dl {
    margin-bottom: 30px;
    border-bottom: 1px solid darkgray;
}
dl dt {
    cursor: pointer;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}
dl dt:after {
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    content: "+";
    font-size: 18px;
}
dl.open dt:after {
    content: "-";
}
dl dd {
    padding: 10px 0;
    font-size: 14px;
}