#main {
    width: 940px;
    padding: 10px;
    margin: 0 auto;
}

#main .row {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid grey;
}

#main .col50 {
    display: inline-block;
    width: 49%;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#main .header img {
    width: 200px;
}

#main #menu {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 0;
}

#main #menu li {
    display: inline-block;
    width: 24%;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main #menu a {
    display: block;
    padding: 10px;
    background: darkblue;
    color: white;
    text-align: center;
}

#main #menu a:hover {
    background: blue;
}

#main .noticias {
    padding: 20px 0;
}

#main .noticias img {
    width: 150px;
    vertical-align: top;
    margin-left: 10px;
}

#main .noticias .main img {
    width: 100%;
    margin: 0;
}

#main .noticias .content {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin-bottom: 30px;
}