#menu {
    width: 100%;
    margin: 0;
}

#menu a {
    display: inline-block;
    width: 20%;
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}

#main .logo img {
   width: 250px; 
}

#main .row {
    width: 100%;
}

#main .col40 {
    display: inline-block;
    width: 40%;
}

#main .col40 ul li {
    background: black;
    color: palevioletred;
    text-align: center;
}

#main .col55 {
    display: inline-block;
    width: 55%;
}

#main .col33 {
    display: inline-block;
    width: 33%;
}

#main .col33 img {
    width: 500px;
}

#main .col50 {
    display: inline-block;
    width: 49%;
}