#main {
    width: 900px;
    padding: 20px 30px;
    margin: 0 auto;
    /* margin = margem, 0 auto = ao centro */
    background: black;
    color: white;
}
#main .row {
    padding: 15px;
    border-bottom: 3px solid red; /*dashed, dotted, solid*/
    margin-bottom: 30px;

}

#main h2 {
    
}